.contacts-container {
  @include on-desktop {
    min-width: 1024px;
    margin: 0 auto;
    background-color: $main-blue;
    border: 1px solid $main-blue;
    border-radius: 0 200px 0 0;
  }

  &__content {
    @include on-desktop {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      padding-left: 54px;
    }
  }
}
