.container {
  margin: 0 auto;
  padding: 20px 20px 0;

  @include on-tablet {
    max-width: 560px;
    padding: 20px 40px 0;
  }

  @include on-desktop {
    max-width: 1145px;
    padding: 42px 56px 0;
  }
}
